@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.admin-bootstrap * {
  all: unset;
  /* Resetea todos los estilos */
  all: revert;
  /* También se puede probar revert en algunos casos */
}

.admin-bootstrap {
  all: revert;
  /* Revierte al estilo por defecto del navegador */
  font-family: inherit;
}

.admin {
  background-color: rgb(231, 231, 231);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:initial; */
  /* height: 100vh; */
}


/* Header */
.admin header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* width: 1024px; */
  width: 100%;
  /* max-width: 1024px; */
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0.3rem 0.3rem 1rem rgb(48, 45, 45);
}

.admin h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #4C1F7A;
}

.admin-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
}

.admin-logo img {
  height: 45px;
}

.admin-logo h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  color: #FF8000;
}

h2 span {
  color: #4C1F7A;
}

.admin-salir {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-right: 20px;
}

.admin-salir button {
  border: 0;
  background-color: white;
  font-size: 1rem;
  font-weight: 800;
}



/* Section */
.admin section {
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

/* Agregar */
.admin-agregar {
  display: flex;
  justify-content: space-between;
  /* height: 50px; */
  padding: 10px;
  box-shadow: 0.3rem 0.3rem 1rem rgb(48, 45, 45);
}

.admin-agregar h3 {
  margin-left: 20px;
}

.admin-agregar-form {
  padding: 20px;
  box-shadow: 0.3rem 0.3rem 1rem rgb(48, 45, 45);
}

.admin-agregar-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 650px; */
  /* height: 100%; */
  margin: 10px auto;
  text-align: center;
  /* border: 2px solid chocolate; */
}


/* Agregar-Editar*/
.etiqueta-agregar, 
.etiqueta-editar {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: .8em;
  margin-bottom: 20px;
  text-align: left;
}

.etiqueta-agregar label,
.etiqueta-editar label {
  margin-bottom: 4px;
  font-weight: 600;
  color: rgb(53, 52, 52);
}

.etiqueta-agregar input,
.etiqueta-editar input {
  padding: 10px;
    border-radius: 0px;
    border: 1px solid brown;
}

.etiqueta-agregar-check,
.etiqueta-agregar-check {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.error-agregar p, 
.error-editar p  {
    font-size: 0.8em;
    color: red;
    margin-top: 3px;
}


/* Tabla */
.admin-tabla {
  display: flex;
  flex-direction: column;
  box-shadow: 0.3rem 0.3rem 1rem rgb(48, 45, 45);
  /* border: solid green; */
}

.admin-tabla img {
  width: 4rem;
}

table {
  padding: 10px;
  max-width: 1024px;
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #4C1F7A;
  color: white;
  text-align: center;
  height: 30px;
  margin-bottom: 12px;
}

tbody {
  text-align: center;
}

tbody tr {
  transition: 0.4s;
}

tbody tr:hover {
  background-color: rgb(219, 219, 219);
}

td {
  font-size: 0.8rem;
}

.editar {
  padding: 20px;
  margin: 10px;
  border-bottom: 2px solid rgb(219, 219, 219);
}

.accordion-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 1rem;
}

.accordion-container.show {
  max-height: 800px; 
  padding: 1rem;
}

/* Responsive */
@media (max-width: 426px) {
  .admin header {
    display: flex;
    flex-direction: column;

  }

  .admin section {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}