@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

main {
    text-align: center;
}

.ofertas {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    /* border: 2px solid black; */
}

.link {
    text-decoration: none;
    color: chocolate;
    font-weight: 600;
}

.tarjeta {
    width: 280px;
    overflow: hidden;
    transition: 0.4s;
    margin: 0px 15px 25px;
    padding: 10px;
    /* border: solid black; */
    box-shadow: 0.4rem 0.4rem 1.2rem rgb(48, 45, 45);
}

.tarjeta img {
    height: 20rem;
    /* height: auto; */
    transition: 0.4s;
    margin-bottom: 5px;
}

.tarjeta img:hover {
    transform: scale(1.03);
}

.descripcion {
    text-align: center;
    margin-bottom: 5px;
}

.tarjeta-boton {
    border: 0;
    opacity: 1;
    background-color: #db6e01;
    color: #ECDFCC;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid #db6e01;
    letter-spacing: 1px;
    transition: 0.5s;
}

.tarjeta-boton:hover {
    border: solid 2px red;
    background-color: white;
    color: red;
}

.tarjeta-boton:active {
    border: solid 2px red;
    background-color: red;
    color: white;
}

.detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----PRODUCTO----- */
.producto {
    display: flex;
    justify-content: center;
    margin: 30px;
    /* border: solid black; */
}

.producto-tarjeta {
    /* border: solid red; */
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    padding: 25px;
    /* text-align: left; */
    box-shadow: 0.4rem 0.4rem 1.2rem rgb(48, 45, 45);
}

.producto-imagen {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
}

.producto-imagen img {
    width: 250px;   
    /* overflow: hidden; */    
}

.producto-detalle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-left: 10px;
    /* border: solid green; */
    gap: 10px;    
}

.producto-detalle h3 {
    text-align: left;
    color: chocolate;
    /* border: solid black; */
}

.medios-de-pago i {
    margin-right: 13px;
    margin-top: 10px;
    color: blue;
    font-size: 1.5rem;
}

.medios-de-pago p {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.producto-boton-carrito {
    background-color: #db6e01;
    color: #ECDFCC;
    margin: 30px ;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid #db6e01;
    letter-spacing: 1px;
    transition: 0.4s;
    width: 200px;
}

.producto-boton-carrito:hover {
    border: solid 2px red;
    background-color: white;
    color: red;
}

.producto-boton-carrito:active {
    border: solid 2px red;
    background-color: red;
    color: white;
}

.producto-descripcion {
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: left;
    /* border: 1px solid green; */
}



/* ---COMENTARIOS--- */
.comentarios {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 25px;
    /* border: 2px solid chocolate; */
}

.comentario {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: left;
    gap: 20px;
    /* border: solid green; */
}

.comentario p {
    font-size: 0.8rem;
}

.linea {
    grid-column-start: 1;
    grid-column-end: 3;
}


/* ----CARRITO----- */
.carrito-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    /* max-width: 1024px; */
    /* border: solid red; */
}

.carrito-producto {
    display: grid;
    grid-template-columns: 0.3fr 1.1fr 0.4fr 0.5fr 0.5fr 0.2fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 16px;
    padding: 15px;
    gap: 10px;
    box-shadow: 0.3rem 0.3rem 1rem rgb(48, 45, 45);
    /* border: 1px solid yellowgreen; */
}

.carrito-producto-imagen {
    width: 8rem;
}

.carrito-producto-cantidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.carrito-producto small {
    color: red;
}

.carrito-producto-restar {
    border: 0;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: red;
    width: 26px;
    height: 26px;
    border-radius: 1rem;
    margin-right: 10px;
}

.carrito-producto-sumar {
    border: 0;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: red;
    width: 26px;
    height: 26px;
    border-radius: 1rem;
    margin-left: 10px;
}

.carrito-producto-sumar:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.carrito-producto-stock {
    margin-top: 5px;
}

.carrito-producto-eliminar {
    border: 0;
    font-size: 1.2rem;
    color: red;
    background-color: white;
    cursor: pointer;
}

.contenedor-carrito-productos-acciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /* border: solid green; */
}

.carrito-productos-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 10px;
    /* border: 1px solid black; */
}

.boton-vaciar-carrito,
.boton-productos-comprar,
.boton-seguir-comprando {
    background-color: #db6e01;
    color: #ECDFCC;
    padding: 0.5rem;
    margin: 10px;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid #db6e01;
    letter-spacing: 1px;
    transition: 0.4s;
}

.boton-vaciar-carrito:hover,
.boton-productos-comprar:hover,
.boton-seguir-comprando:hover {
    border: solid 2px red;
    background-color: white;
    color: red;
}

.boton-vaciar-carrito:active,
.boton-productos-comprar:active,
.boton-seguir-comprando:active {
    border: solid 2px red;
    background-color: red;
    color: white;
}

.carrito-productos-total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

